{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Изменить товар</title>
    <link rel="stylesheet" href="{% static 'catalogue/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <header class="flex space-between caption align-items-center" id="hdr">
		<a href="{% url 'catalogue:index' %}" id="logo" >Сладости и десерты</a>
		<nav class="flex space-between" style="margin-right: 60px;">
			<a href="{% url 'basket:basket' %}" class="navLink">Корзина</a>
			<a href="{% url 'userProfile:userProfile' %}" class="navLink">Личный кабинет</a>
			{% if user.is_authenticated %} <p> {{ user.first_name }} {{ user.last_name }} </p>
            {% else %} <a href="{% url 'login' %}" class="navLink">Войти</a>
            {% endif %}
		</nav>
	</header>

    <div style="margin: 40px 0 0 60px">
        <h1 class="title">Изменить товар</h1>
        <div class="flex">
            {% if product.img %}
            <img style="width: 30%; height: auto; margin-right: 10px" src="{{ product.img.url }}" alt="" class="pr_img">
            {% endif %}
            <form action="{% url 'userProfile:modify_product' product.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div>
                        {% language 'ru' %}
                            {{ field.errors }}
                            {{ field.label }}<br> {{ field }}
                        {% endlanguage %}
                    </div>
                {% endfor %}
            <input type="submit" value="Изменить товар" class="primary_button" style="margin-top: 5px">
        </form>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'userProfile/script.js' %}"></script>
</body>
</html>