{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>

	<link rel="stylesheet" href="{% static 'catalogue/style.css' %}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="flex space-between caption align-items-center" id="hdr">
		<a href="{% url 'catalogue:index' %}" id="logo" >Сладости и десерты</a>
		<nav class="flex space-between" style="margin-right: 60px;">
			<a href="{% url 'basket:basket' %}" class="navLink">Корзина</a>
			<a href="{% url 'userProfile:userProfile' %}" class="navLink">Личный кабинет</a>
			{% if user.is_authenticated %} <p> {{ user.first_name }} {{ user.last_name }} </p>
            {% else %} <a href="{% url 'login' %}" class="navLink">Войти</a>
            {% endif %}
		</nav>
	</header>
    <h1 class="headline" style="margin-left: 100px">Корзина</h1>
    <div class="flex">
        <div class="flex column" style="margin-left: 100px; margin-top: 20px; gap: 20px;">
            {% if product_list %}
                {% for product in product_list %}
                    <div class="product flex" id="pr_{{ product.id }}" style="width: 55%">
                        <a href="{% url 'catalogue:product' product.id %}">
                            {% if product.img %}
                            <img src="{{ product.img.url }}" alt="" class="pr_img">
                            {% endif %}
                        </a>
                        <div class="product_info">
                            <p class="pr_price title" id="price{{ product.id }}">{{ product.pr_price }} P</p>
                            <a href="{% url 'catalogue:product' product.id %}">
                                <p class="pr_name subtitle">{{ product.pr_name }}</p>
                            </a>
                            <div class="flex align-items-center space-between change_amount">
                                <button class="add_button" onclick="subtract_item({{ product.id }}, {{ product.pr_price }})">-</button>
                                <p class="subtitle" style="font-weight: 700" id="amount{{ product.id }}">1</p>
                                <button class="add_button" onclick="add_item({{ product.id }}, {{ product.pr_price }})">+</button>
                            </div>
                        </div>
                     </div>
                {% endfor %}
        </div>
        <div>
            <span class="subtitle">Стоимость заказа:</span> <span class="subtitle" id="full_price"></span>
            <br>
            <a href="{% url 'basket:order' %}">
                <button class="primary_button"> Перейти к офомлению </button>
            </a>
        </div>
    </div>
            {% else %}
                <p>Ваша корзина пуста</p>
            {% endif %}

    <script type="text/javascript" src="{% static 'basket/script.js' %}"></script>
    {% if product_items %}
        <script>
            get_items({{ product_items }}, {{ product_prices }});
            show_items();
            calc_full_price();
        </script>
    {% endif %}
</body>
</html>